<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Gateway</title>	
		<meta charset="utf-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Welcome!</h1>
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h2>Register</h2><br/>
					<form action="/register" method="post">
						{% csrf_token %}
						<!-- Formatted according to bootstrap website, although it seems bulky, but I tried to avoid doing my own css -->
						<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
						<label for="name" class="col-sm-3 col-form-label">Name</label>
						<div class="col-sm-9">
							<input type="text" id="name" class="form-control" name="name"><br/>
						</div>
						<label for="username" class="col-sm-3 col-form-label">Username</label>
						<div class="col-sm-9">
							<input type="text" id="username" class="form-control" name="username"><br/>
						</div>
						<label for="password" class="col-sm-3 col-form-label">Password</label>
						<div class="col-sm-9">
							<input type="password" id="password" class="form-control" name="password"><br/>
						</div>
						*Password should be at least 8 characters<br/>
						<label for="password2" class="col-sm-3 col-form-label">Confirm PW</label>
						<div class="col-sm-9">
							<input type="password" id="confirm_password" class="form-control" name="confirm_password"><br/>
						</div>
						<label for="datehired" class="col-sm-3 col-form-label">Date Hired</label>
						<div class="col-sm-9">
							<input type="date" id="datehired" class="form-control" name="datehired"><br/>
						</div>
						<input class="btn btn-lg btn-primary btn-block" type="submit" value="Register" />
					
					</form>
				</div>
				<div class="col-sm-6">
					<h2>Login</h2><br/>
					<form action="/login" method="post">
						{% csrf_token %}
						<label for="username" class="col-sm-3 col-form-label">Username</label>
						<div class="col-sm-9">
							<input type="text" id="username" class="form-control" name="username" required autofocus><br/>
						</div>
						<label for="password" class="col-sm-3 col-form-label">Password</label>
						<div class="col-sm-9">
							<input type="password" id="password" class="form-control" name="password" required><br/>
						</div>
						<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" />
					</form>
				</div>
			</div>
		<div 
	</body>
</html>